<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div>
            <textarea name="title" id="title" cols="200" rows="2"></textarea>
        </div>

        <div>
            <textarea name="content" id="content" cols="200" rows="10"></textarea>
        </div>
        
        
        <button type="submit" value="submit">Compose</button>

    </form>
</body>
</html>